<!--
  Generated template for the ConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Confirmation</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding class="clearbg">

    <!--
        <ion-card>
            <ion-card-header>
                How would you describe your attitude to investment risk? 
                <ion-icon name="help" class="float-right circle-icon" (click)="showRiskDescription()"></ion-icon>
            </ion-card-header>
    
            <ion-row>
                <ion-col>
                    <ion-list radio-group [(ngModel)]="riskRating">
                              <ion-item>
                            <ion-radio item-left value="1" (ionSelect)="showRiskDescription(1)"></ion-radio>
                            <ion-label>Low Risk Rating</ion-label>
                        </ion-item>
    
                        <ion-item>
                            <ion-radio item-left value="2" (ionSelect)="showRiskDescription(2)"></ion-radio>
                            <ion-label>Medium/Low Risk Rating</ion-label>
                        </ion-item>
    
                        <ion-item>
                            <ion-radio item-left checked="true" value="3" (ionSelect)="showRiskDescription(3)"></ion-radio>
                            <ion-label>Medium Risk Rating</ion-label>
                        </ion-item>
    
                        <ion-item>
                            <ion-radio item-left value="4" (ionSelect)="showRiskDescription(4)"></ion-radio>
                            <ion-label>Medium/High Risk Rating</ion-label>
                        </ion-item>
    
                        <ion-item>
                            <ion-radio item-left value="5" (ionSelect)="showRiskDescription(5)"></ion-radio>
                            <ion-label>High Risk Rating</ion-label>
                        </ion-item>
                    </ion-list></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-card>-->

    <ion-card>
        <ion-card-header>
            Travel Insurance
        </ion-card-header>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        Do you frequently travel out of the country and live there for more than 60 days in a year?
                    </ion-label>
                    <ion-select  [(ngModel)]="travelsForLong">
                        <ion-option value="0">NO</ion-option>
                        <ion-option value="1">YES</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngIf="travelsForLong == 1">
        <ion-card-header>
            Travel Insurance
        </ion-card-header>

        <ion-grid *ngFor="let travelInsurance of travelInsurances;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(travelInsurances, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Institution</ion-label>
                        <ion-input [(ngModel)]="travelInsurances[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Last Expense Cover</ion-label>
                        <ion-input [(ngModel)]="travelInsurances[i].last_expense_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>PA Cover</ion-label>
                        <ion-input [(ngModel)]="travelInsurances[i].pa_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Critical Illness Cover</ion-label>
                        <ion-input [(ngModel)]="travelInsurances[i].critical_illness_cover"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addTravelInsurance()"> Add Insurance &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Professional Indemnity
        </ion-card-header>

        <ion-row>
            <ion-col><ion-item>
                    <ion-label text-wrap stacked color="primary">
                        Does your profession require you to have a professional Indemnity cover?
                    </ion-label>
                    <ion-select [selectOptions]="selectOptions_indemnity" [(ngModel)]="requiresIndemnity">
                        <ion-option value="0">NO</ion-option>
                        <ion-option value="1">YES</ion-option>
                    </ion-select>
                </ion-item></ion-col>
        </ion-row>


    </ion-card>

    <ion-card *ngIf="requiresIndemnity == 1">
        <ion-card-header>
            Professional Indemnity
        </ion-card-header>

        <ion-grid *ngFor="let indemnityInsurance of indemnityInsurances;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(indemnityInsurances, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Institution</ion-label>
                        <ion-input [(ngModel)]="indemnityInsurances[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addIndemnityInsurance()"> Add Indemnity Insurer &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>


    <ion-card>
        <ion-card-header>
            Last Will & Testament
        </ion-card-header>

        <ion-row>
            <ion-col><ion-item>
                    <ion-label text-wrap stacked color="primary">
                        Do you have a will?
                    </ion-label>
                    <ion-select [(ngModel)]="hasWill">
                        <ion-option value="0">NO</ion-option>
                        <ion-option value="1">YES</ion-option>
                    </ion-select>
                </ion-item></ion-col>
            <ion-col *ngIf="hasWill == 1"><ion-item>
                    <ion-label floating color='primary'>My Will Last Updated On</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="lastWillUpdateDate"></ion-datetime>
                </ion-item>&nbsp;</ion-col>
        </ion-row>

    </ion-card>

    <ion-card>
        <ion-card-header>
            Financial Planning Priorities
        </ion-card-header>


        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        Which is your greatest financial priority?
                    </ion-label>
                    <ion-select [(ngModel)]="financialPriority">
                        <ion-option value="RETIREMENT">Save and Invest for your retirement</ion-option>
                        <ion-option value="SECURITY">Financial security for your family</ion-option>
                        <ion-option value="INDEPENDENCE">Make additional savings and investments for future financial independence</ion-option>
                        <ion-option value="EDUCATION">Save and Invest for your children's education</ion-option>
                        <ion-option value="CAPITAL">Raise business capital</ion-option>
                        <ion-option value="HOUSE">Buy or build your house</ion-option>
                    </ion-select>
                </ion-item></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
        </ion-row>

    </ion-card>

</ion-content>
<ion-footer>
    <ion-row>
        <ion-col></ion-col>
        <ion-col><button color='secondary' ion-button round (click)="requestJointPlanning()"> Next
                         &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon>
            </button></ion-col>
        <ion-col></ion-col>
    </ion-row>
</ion-footer>