<!--
  Generated template for the InvestmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Investments</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding class="clearbg">


    <!-- ASSETS OWNED DETAILS -- real eastate -->
    <ion-card>
        <ion-card-header>
            Assets Owned -- Real Estate
        </ion-card-header>

        <ion-grid *ngFor="let realEstateAsset of realEstateAssets;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(realEstateAssets, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="realEstateAssets[i].type">
                            <ion-option value="Residential">Residential</ion-option>
                            <ion-option value="Commercial">Commercial/Rental</ion-option>
                            <ion-option value="Land">Land</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Location</ion-label>
                        <ion-input [(ngModel)]="realEstateAssets[i].location"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value</ion-label>
                        <ion-input type='number' [(ngModel)]="realEstateAssets[i].value"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addRealEstateAsset()"> Add Asset &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- ASSETS OWNED DETAILS -- vehicles   -->
    <ion-card>

        <ion-card-header>
            Assets Owned -- Vehicles
        </ion-card-header>


        <ion-grid *ngFor="let vehicleAsset of vehicleAssets;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(vehicleAssets, i)"> x </p>
            <ion-row>
                <!--                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Manufacturer</ion-label>
                                        <ion-input [(ngModel)]="vehicleAssets[i].manufacturer"></ion-input>
                                    </ion-item>
                                </ion-col>-->
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Make</ion-label>
                        <ion-input [(ngModel)]="vehicleAssets[i].make"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Registration No.</ion-label>
                        <ion-input [(ngModel)]="vehicleAssets[i].registration"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value</ion-label>
                        <ion-input type='number' [(ngModel)]="vehicleAssets[i].value"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addVehicleAsset()"> Add Asset &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- ASSETS OWNED DETAILS -- others -->
    <ion-card>
        <ion-card-header>
            Assets Owned -- Others
        </ion-card-header>

        <ion-grid *ngFor="let otherAsset of otherAssets;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(otherAssets, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Asset Name</ion-label>
                        <ion-input [(ngModel)]="otherAssets[i].name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value</ion-label>
                        <ion-input type='number' [(ngModel)]="otherAssets[i].value"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addOtherAsset()"> Add Asset &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- Financial Investments -- Bank Accounts  -->
    <ion-card>
        <ion-card-header>
            Bank Accounts
        </ion-card-header>

        <ion-grid *ngFor="let bankAccount of bankAccounts;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(bankAccounts, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="bankAccounts[i].type">
                            <ion-option value="SV">Savings Account</ion-option>
                            <ion-option value="C">Current Account</ion-option>
                            <ion-option value="FD">Fixed Deposit Account</ion-option>
                            <ion-option value="CL">Call Account</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Bank</ion-label>
                        <ion-input [(ngModel)]="bankAccounts[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value to Date</ion-label>
                        <ion-input type='number' [(ngModel)]="bankAccounts[i].value"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addBankAccount()"> Add Account &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>


    <!-- Financial Investments -- Unit Trusts & Mutual Funds  -->
    <ion-card>
        <ion-card-header>
            Unit Trusts & Mutual Funds
        </ion-card-header>

        <ion-grid *ngFor="let unitTrust of unitTrusts;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(unitTrusts, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="unitTrusts[i].type">
                            <ion-option value="MMF">Money Market Fund</ion-option>
                            <ion-option value="BDF">Bond Fund</ion-option>
                            <ion-option value="EQF">Equity Fund</ion-option>
                            <ion-option value="BF">Balance Fund</ion-option>
                            <ion-option value="PF">Property Fund</ion-option>
                            <ion-option value="OTHER">Other</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Institution</ion-label>
                        <ion-input [(ngModel)]="unitTrusts[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                        <ion-input [(ngModel)]="unitTrusts[i].contribution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value to Date</ion-label>
                        <ion-input type='number' [(ngModel)]="unitTrusts[i].value"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addUnitTrust()"> Add Trust/Fund &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!--Financial Investments-->
    <!--    
        <ion-grid>
            <ion-row>
                
                <ion-col>
                     Financial Investments -- SACCO Accounts  
                    <ion-card>
                        <ion-card-header>
                            Financial Investments -- SACCO Accounts
                        </ion-card-header>
    
                        <ion-grid *ngFor="let saccoAccount of saccoAccounts;let i = index"   class='shadow'>
                            <p>{{ i +1 }}</p>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>SACCO Name</ion-label>
                                        <ion-input [(ngModel)]="saccoAccounts[i].name"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                                        <ion-input [(ngModel)]="saccoAccounts[i].contribution"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Value to Date</ion-label>
                                        <ion-input [(ngModel)]="saccoAccounts[i].value"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row> 
                        </ion-grid>
                        <button ion-button round (click)="addSaccoAccount()"> Add SACCO &nbsp;&nbsp;&nbsp;
                                <ion-icon name="add"></ion-icon>
                        </button>
                    </ion-card>
                </ion-col>
    
    
    
                <ion-col>
                     Financial Investments -- Shares  
                    <ion-card>
                        <ion-card-header>
                            Financial Investments -- Shares
                        </ion-card-header>
    
                        <ion-grid *ngFor="let share of shares;let i = index"   class='shadow'>
                            <p>{{ i +1 }}</p>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Company</ion-label>
                                        <ion-input [(ngModel)]="shares[i].company"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Type</ion-label>
                                        <ion-select [(ngModel)]="shares[i].type">
                                            <ion-option value="REG">Regular Investment</ion-option>
                                            <ion-option value="LUMP">Lump Sum Investment</ion-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                                        <ion-input [(ngModel)]="shares[i].contribution"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Value to Date</ion-label>
                                        <ion-input [(ngModel)]="shares[i].value"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row> 
                        </ion-grid>
                        <button ion-button round (click)="addShares()"> Add Shares &nbsp;&nbsp;&nbsp;
                                <ion-icon name="add"></ion-icon>
                        </button>
                    </ion-card>
                </ion-col>
    
            </ion-row>
        </ion-grid>-->

    <!-- Financial Investments -- Retirement Savings  -->
    <ion-card>
        <ion-card-header>
            Retirement Savings
        </ion-card-header>

        <ion-grid *ngFor="let retirementSaving of retirementSavings;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(retirementSavings, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="retirementSavings[i].type">
                            <ion-option value="Pension">Pension</ion-option>
                            <ion-option value="Provident">Provident</ion-option>
                            <ion-option value="Gratuity">Gratuity</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Institution</ion-label>
                        <ion-input [(ngModel)]="retirementSavings[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                        <ion-input type='number' [(ngModel)]="retirementSavings[i].contribution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value to Date</ion-label>
                        <ion-input type='number' [(ngModel)]="retirementSavings[i].value"></ion-input>
                    </ion-item>
                </ion-col>
                <!--                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Sum Assured</ion-label>
                                        <ion-input [(ngModel)]="retirementSavings[i].sum_assured"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Last Expense Cover</ion-label>
                                        <ion-input [(ngModel)]="retirementSavings[i].last_expense_cover"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>PA Cover</ion-label>
                                        <ion-input [(ngModel)]="retirementSavings[i].pa_cover"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" floating>Critical Illness Cover</ion-label>
                                        <ion-input [(ngModel)]="retirementSavings[i].critical_illness_cover"></ion-input>
                                    </ion-item>
                                </ion-col>-->
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addRetirementSaving()"> Add Savings &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- Financial Investments -- Regular Savings  -->

    <ion-card>
        <ion-card-header>
            Financial Investments
        </ion-card-header>

        <ion-grid *ngFor="let regularSaving of regularSavings;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(regularSavings, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="regularSavings[i].type">
                            <ion-option value="SACCO_REG">SACCO (Regular Contribution)</ion-option>
                            <ion-option value="SACCO_LUMP">SACCO (Lumpsum Deposit)</ion-option>
                            <ion-option value="SHARES_REG">Shares (Regular Contribution)</ion-option>
                            <ion-option value="SHARES_LUMP">Shares (Lumpsum Deposit)</ion-option>
                            <ion-option value="OTHER_REG">Other (Regular Contribution)</ion-option>
                            <ion-option value="OTHER_LUMP">Other (Lumpsum Deposit)</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type.indexOf('OTHER') >= 0
                    || regularSavings[i].type.indexOf('SACCO') >= 0">
                    <ion-item>
                        <ion-label color="primary" floating>Name</ion-label>
                        <ion-input [(ngModel)]="regularSavings[i].name"></ion-input>
                    </ion-item>
                </ion-col>    
                <ion-col *ngIf="regularSavings[i].type.indexOf('SHARE') >= 0">
                    <ion-item>
                        <ion-label color="primary" floating>Company</ion-label>
                        <ion-input [(ngModel)]="regularSavings[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type.indexOf('OTHER') >= 0">
                    <ion-item>
                        <ion-label color="primary" floating>Provider</ion-label>
                        <ion-input [(ngModel)]="regularSavings[i].provider"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type.indexOf('_REG') > 0">
                    <ion-item>
                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].contribution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Value to Date</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].value"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type == 'OTHER_REG'
                    || regularSavings[i].type == 'OTHER_LUMP'">
                    <ion-item>
                        <ion-label color="primary" floating>Sum Assured</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].sum_assured"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type == 'OTHER_REG'
                    || regularSavings[i].type == 'OTHER_LUMP'">
                    <ion-item>
                        <ion-label color="primary" floating>Last Expense Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].last_expense_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type == 'OTHER_REG'
                    || regularSavings[i].type == 'OTHER_LUMP'">
                    <ion-item>
                        <ion-label color="primary" floating>PA Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].pa_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="regularSavings[i].type == 'OTHER_REG'
                    || regularSavings[i].type == 'OTHER_LUMP'">
                    <ion-item>
                        <ion-label color="primary" floating>Critical Illness Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="regularSavings[i].critical_illness_cover"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addRegularSaving()"> Add Investment &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- Financial Investments -- Personal Insurance & Employee Benefits  -->
    <ion-card>
        <ion-card-header>
            Personal Insurance
        </ion-card-header>

        <ion-grid *ngFor="let employeeBenefit of employeeBenefits;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(employeeBenefits, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="employeeBenefits[i].type">
                            <ion-option value="LFC">Life Cover</ion-option>
                            <ion-option value="H">Health Insurance</ion-option>
                            <ion-option value="PAC">Personal Accident Cover</ion-option>
                            <ion-option value="D">Domestic Insurance</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Insurer</ion-label>
                        <ion-input [(ngModel)]="employeeBenefits[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="employeeBenefits[i].type == 'LFC'">
                    <ion-item>
                        <ion-label color="primary" floating>Regular Contribution</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].contribution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="employeeBenefits[i].type == 'LFC'">
                    <ion-item>
                        <ion-label color="primary" floating>Value to Date</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].value"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col  *ngIf="employeeBenefits[i].type != 'D'">
                    <ion-item>
                        <ion-label color="primary" floating>Sum Assured</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].sum_assured"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col  *ngIf="employeeBenefits[i].type != 'D'">
                    <ion-item>
                        <ion-label color="primary" floating>Last Expense Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].last_expense_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col   *ngIf="employeeBenefits[i].type == 'LFC' 
                    || employeeBenefits[i].type == 'H'">
                    <ion-item>
                        <ion-label color="primary" floating>PA Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].pa_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col  *ngIf="employeeBenefits[i].type != 'D'">
                    <ion-item>
                        <ion-label color="primary" floating>Critical Illness Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="employeeBenefits[i].critical_illness_cover"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addEmployeeBenefit()"> Add Insurance &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>

    <!-- Financial Investments -- Group Insurance & Employee Benefits  -->
    <ion-card>
        <ion-card-header>
            Employee Benefits
        </ion-card-header>

        <ion-grid *ngFor="let groupEmployeeBenefit of groupEmployeeBenefits;let i = index"   class='shadow'>
            <p (click)="globals.removeItem(groupEmployeeBenefits, i)"> x </p>
            <ion-row>

                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Type</ion-label>
                        <ion-select [(ngModel)]="groupEmployeeBenefits[i].type">
                            <ion-option value="GLF">Group Life Cover</ion-option>
                            <ion-option value="GH">Group Health</ion-option>
                            <ion-option value="GPA">Group Personal Accident Cover</ion-option>
                            <ion-option value="WBA">WIBA</ion-option>
                            <ion-option value="Other">Other</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Insurer</ion-label>
                        <ion-input [(ngModel)]="groupEmployeeBenefits[i].institution"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Sum Assured</ion-label>
                        <ion-input type='number' [(ngModel)]="groupEmployeeBenefits[i].sum_assured"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Last Expense Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="groupEmployeeBenefits[i].last_expense_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="groupEmployeeBenefits[i].type != 'GPA'">
                    <ion-item>
                        <ion-label color="primary" floating>PA Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="groupEmployeeBenefits[i].pa_cover"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Critical Illness Cover</ion-label>
                        <ion-input type='number' [(ngModel)]="groupEmployeeBenefits[i].critical_illness_cover"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-grid>
        <button ion-button round (click)="addGroupEmployeeBenefit()"> Add Benefits &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>
</ion-content>
<ion-footer>
    <button ion-button round color="secondary" (click)="nextTab()" right> Next
        &nbsp;&nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon>
    </button>
</ion-footer>