// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// so that app always brings selected input field into focus
scroll-content {
  padding-bottom:0!important;
}

// theme alert/select popup dialogs
.alert-wrapper .alert-head {background-color:map-get($colors, primary);color:map-get($colors, text-primary-color);}
.alert-wrapper .alert-message {background-color:map-get($colors, secondary);color:map-get($colors, text-primary-color);}
.alert-wrapper .alert-radio-group .button-inner {background-color:map-get($colors, secondary);color:map-get($colors, text-primary-color) !important;}
.alert-wrapper .alert-radio-group .button-inner .alert-radio-label {background-color:map-get($colors, secondary);color:map-get($colors, text-primary-color);}
.alert-wrapper .alert-button {color:blue;}

// teme sidebar menu
.sidemenu-content {background:map-get($colors, secondary);}///-image: url('../assets/imgs/sidemenu_bg.png');}
.sidemenu-content .scroll-content {padding:0% !important;overflow-y:hidden;}
// sidemenu header image (sliders)
.sidemenu-content .header-image {width:100%;height:30%;max-height: 30% !important;}
.sidemenu-content .header-image .slide-zoom {height:100%;}
.sidemenu-content .header-image .slide-zoom div {height:100%;}
// sidemenu center intro text
.sidemenu-content .sidemenu-list {color:white;padding-left: 2px;padding-right: 2px;max-height:45%;} 
.sidemenu-content .sidemenu-list p {margin-bottom:2px !important;margin-top:5px !important;}
// sidemenu footer logo
.sidemenu-content .footer-image {position:absolute;width:100%;height:25%;bottom:0px;left:0px;margin:0px !important;background-color:white;}
.sidemenu-content .footer-image img {max-height: 100% !important;margin-top:2px;margin-bottom:2px;}
// sidemenu header, slider images
.image-box-1 {background:url('../assets/imgs/food/mincedmeat.jpeg') center;background-size:cover;}
.image-box-2 {background:url('../assets/imgs/food/chicken.jpeg') center;background-size:cover;}
.image-box-3 {background:url('../assets/imgs/food/lightsnack.jpeg') center;background-size:cover;}
.image-box-4 {background:url('../assets/imgs/food/homecooked.jpeg') center;background-size:cover;}
.image-box-5 {background:url('../assets/imgs/food/beautiful.jpeg') center;background-size:cover;}


ion-grid{margin-bottom:10px;margin-top:10px;}
ion-card{text-align:center;}
ion-card-header{font-weight:bold;white-space: normal;}

ion-card ion-grid p {height:20px;width:20px;border-radius:10px;float:right !important;margin-left:auto !important;
                     background-color:rgb(255,0,0);color:white !important;font-weight:bold;}
ion-card, ion-content, ion-footer{text-align:center;}
.clearbg, .ion-content {background-color:rgba(255,255,255,0);}
.ion-nav, .ion-page {background-image:url("../assets/imgs/img009.png");}
.shadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:#fff;}

#side-menu-view {z-index:1000;}
#menu-toggle-button {top:50px;left:0px;margin:0px;width:45px !important;height:45px !important;}
.tab-button-text {white-space: normal;}

ion-option, ion-label {padding-left: 10px;padding-right: 10px;min-width: 100px;}
ion-datetime {min-width: 100px;padding-top:8px !important;padding-bottom:8px !important;}
.datetime-text {text-overflow:show !important;}
ion-input, ion-select, ion-datetime, ion-textarea  {
    border-bottom: 0.5px solid map-get($colors, primary);
    border-right: 0.5px solid map-get($colors, primary);
    border-left: 0.5px solid map-get($colors, primary);
    border-top: 0.5px solid map-get($colors, primary);
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 100px;
    /*max-width: 700px !important;*/
}

.alert-ios .alert-radio-label{ white-space: pre-line;}
.alert-md .alert-radio-label{ white-space: pre-line;}
.alert-wp .alert-radio-label{ white-space: pre-line;}


.confirmBox .alert-message, .alertBox .alert-message{padding:10px;font-size:16px;line-height:1.5em;text-align:center;color:map-get($colors,primary);}
.confirmBox .alert-wrapper, .alertBox .alert-wrapper{border-radius:3px;};
.confirmBox .alert-head, .alertBox .alert-head{font-size:18px;border-top-left-radius:3px;border-top-right-radius:3px;color:white;background-color:map-get($colors,primary);text-align:center;}
.confirmBox .alert-button, .alertBox .alert-button{color:white;background-color:map-get($colors,secondary);}
.alert-ios, .alert-md, .alert-wp{background-color:map-get($colors,primary-trans);}

.ok-button {background-color:map-get($colors,secondary) !important;min-width:50px;padding-left:30px !important;padding-right:30px !important;}
.cancel-button{background-color:map-get($colors,danger) !important;}

.float-left {float:left;}
.float-right {float:right;}