<!--
  Generated template for the DetailsOfPrinciplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--> 
<!--<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon></button>
    </ion-navbar>
</ion-header>-->


<ion-content padding class="clearbg">

    <!--DETAILS OF PRINCIPLE-->
    <ion-card>
        <ion-card-header>Details of Principle</ion-card-header>
        <ion-grid class='shadow'>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>First Name</ion-label>
                        <ion-input [(ngModel)]="principle.first_name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Middle Name(s)</ion-label>
                        <ion-input [(ngModel)]="principle.middle_name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Surname</ion-label>
                        <ion-input [(ngModel)]="principle.surname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating color='primary'>Date of Birth</ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="principle.dob"></ion-datetime>
                    </ion-item>
                </ion-col>
<!--                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Nationality</ion-label>
                        <ion-select [selectOptions]="selectOptions" [(ngModel)]="principle.nationality">
                            <ion-option value="KE">Kenyan</ion-option>
                            <ion-option value="RW">Rwandese</ion-option>
                            <ion-option value="TZ">Tanzanian</ion-option>
                            <ion-option value="UG">Ugandan</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>ID/Passport No.</ion-label>
                        <ion-input [(ngModel)]="principle.id_passport_no"></ion-input>
                    </ion-item>
                </ion-col>-->
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Marital Status</ion-label>
                        <ion-select [(ngModel)]="principle.marital_status">
                            <ion-option value="DI">Divorced</ion-option>
                            <ion-option value="MA">Married</ion-option>
                            <ion-option value="SI" selected>Single</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Occupation</ion-label>
                        <ion-input [(ngModel)]="principle.occupation"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Employer</ion-label>
                        <ion-input [(ngModel)]="principle.employer"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <!--DETAILS OF SPOUSE-->
    <ion-card *ngIf="principle.marital_status == 'MA' || principle.marital_status == 'EN'">
        <ion-card-header>Spouse Details</ion-card-header>
        <ion-grid class='shadow'>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>First Name</ion-label>
                        <ion-input [(ngModel)]="spouse.first_name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Middle Name(s)</ion-label>
                        <ion-input [(ngModel)]="spouse.middle_name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Surname</ion-label>
                        <ion-input [(ngModel)]="spouse.surname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating color='primary'>Date of Birth</ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="spouse.dob"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col>
                </ion-col>
<!--                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Nationality</ion-label>
                        <ion-select [selectOptions]="selectOptions" [(ngModel)]="spouse.nationality">
                            <ion-option value="KE">Kenyan</ion-option>
                            <ion-option value="RW">Rwandese</ion-option>
                            <ion-option value="TZ">Tanzanian</ion-option>
                            <ion-option value="UG">Ugandan</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>ID/Passport No.</ion-label>
                        <ion-input [(ngModel)]="spouse.id_passport_no"></ion-input>
                    </ion-item>
                </ion-col>-->
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Occupation</ion-label>
                        <ion-input [(ngModel)]="spouse.occupation"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Employer</ion-label>
                        <ion-input [(ngModel)]="spouse.employer"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!--CHILDREN DETAILS-->
    <ion-card>
        <ion-card-header>Children Details</ion-card-header>
        <ion-grid *ngFor="let child of children;let i = index" class='shadow'>
            <p (click)="globals.removeItem(children, i)"> x </p>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Child's Name</ion-label>
                        <ion-input [(ngModel)]="children[i].name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label floating color='primary'>Date of Birth</ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY"  [(ngModel)]="children[i].dob"></ion-datetime>
                    </ion-item>
                </ion-col>
<!--                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>School Level</ion-label>
                        <ion-select [(ngModel)]="children[i].school_level">
                            <ion-option value="NA">Done/Not Yet</ion-option>
                            <ion-option value="PRE">Pre-Primary</ion-option>
                            <ion-option value="PRI">Primary</ion-option>
                            <ion-option value="SEC">Secondary</ion-option>
                            <ion-option value="TER">Tertiary</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>-->
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" text-wrap stacked>Estimated Remaining Primary School Fees</ion-label>
                        <ion-input type="number" [(ngModel)]="children[i].fee_balance_pri"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" text-wrap stacked>Estimated Remaining Secondary School Fee</ion-label>
                        <ion-input type="number" [(ngModel)]="children[i].fee_balance_sec"></ion-input>
                    </ion-item> 
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" text-wrap stacked>Estimated Remaining College/Uni Fee</ion-label>
                        <ion-input type="number"[(ngModel)]="children[i].fee_balance_uni"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <button ion-button round (click)="addChild()"> Add Child &nbsp;&nbsp;&nbsp;
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>
</ion-content>

<ion-footer>
     <button ion-button round color="secondary" (click)="nextTab()" class="float-right"> Next
                          &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
     <button ion-button round color="light" (click)="nextTab()" class="float-left"> Skip
                          &nbsp;&nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon>
            </button>
</ion-footer>