page-lifestyle {
ion-card {
        padding-bottom: 5px;
    }
    /*.float-right{float:right;}*/
    /*.circle-icon{width:30px;height:30px;border-radius:15px;background-color:rgba(220,135,201,0.5);padding:5px;}*/
    
    @media (max-width: 576px) {
       .hide-col {
           font-size: 2rem !important;
       }
   }

}
