<!--
  Generated template for the LifestylePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="clearbg">
<ion-card>
<ion-label text-wrap stacked color="primary">
                        <h1 ion-text color="dark">Lunch choices and Food ordering behavior</h1>
                    </ion-label>
<ion-card>
        <!-- <ion-card-header>
            food variety
        </ion-card-header> -->
        
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                       Which variety of food do you need? 
                    </ion-label>
                    <ion-select [(ngModel)]="principleLifestyle.variety">
                        <ion-option value="chicken">chicken</ion-option>
                        <ion-option value="beef">beef</ion-option>
                        <ion-option value="goat">goat</ion-option>
                        <ion-option value="pork">pork</ion-option>
                        <ion-option value="lamb">lamb</ion-option>
                        <ion-option value="fish">fish</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        What are you missing now?
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="principleLifestyle.missed"  ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                         What time are you most likely to need takeout food?
                    </ion-label>
                     <ion-select [(ngModel)]="principleLifestyle.takeaway">
                        <ion-option value="Morning"> Morning(breakfast)</ion-option>
                        <ion-option value="Afternoon"> Afternoon(lunch time)</ion-option>
                        <ion-option value="Evening"> Evening(supper)</ion-option>

                    </ion-select>
                    <!-- <ion-input   type="text" [(ngModel)]="principleLifestyle.takeaway"></ion-input> -->
                </ion-item>
            </ion-col>
            </ion-row>
            <ion-row>

            
            


            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                       I’m more likely to buy lunch that is? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0">cheap</ion-option>
                        <ion-option value="1">beautiful/looks good</ion-option>
                        <ion-option value="2">feels home cooked</ion-option>

                    </ion-select>
                </ion-item>
            </ion-col>
<ion-col>
                <ion-item>
                     <ion-label text-wrap stacked color="primary">
                       Where do you think you will take lunch tomorrow? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0"> Carry food from home</ion-option>
                        <ion-option value="1"> go to a hotel</ion-option>
                        <ion-option value="2"> buy from someone who sells at the office</ion-option>
                        <ion-option value="3"> order online</ion-option>
                        <ion-option value="4"> other</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            
        </ion-row>

        
            
            
            <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        Do you ever miss lunch?
                    </ion-label>
                    <ion-select [(ngModel)]="lunches">
                        <ion-option value="0">NO</ion-option>
                        <ion-option value="1">YES</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        
    
     <ion-row *ngIf="lunches == 1">
           <ion-col *ngFor="let misslunch of misslunchs;
           let i = index"   >


            
             <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        What is the most likely reason? 
                    </ion-label>
                    <ion-select [(ngModel)]="reason">
                        <ion-option value="no money">no money</ion-option>
                        <ion-option value="no time ">no time </ion-option>
                        <ion-option value="no options">no options </ion-option>
                        <ion-option value="1">other</ion-option>
                         </ion-select>
                </ion-item>
               
                <ion-row *ngIf="reason == 1">
        
        <ion-col *ngFor="let reasone of reasones;let i = index"   >
            
            
                    <ion-item>
                        <ion-label color="primary" floating>Reason to Miss lunch</ion-label>
                        <ion-input [(ngModel)]="lunchvalue"></ion-input>
                    </ion-item>
                
        </ion-col>


    </ion-row>
                <ion-row>
             <ion-item>
                <ion-label text-wrap stacked color="primary" >
                        Have you ever been unable to concentrate at work because you skipped lunch?
                    </ion-label>
                     <ion-select [(ngModel)]="principleLifestyle.work">
                        <ion-option value="0"> Yes</ion-option>
                        <ion-option value="1"> No</ion-option>

                    </ion-select>

             </ion-item>
             </ion-row>
               <ion-row>
                <ion-item>
                    <ion-label text-wrap stacked color="primary" floating>
                        Why don't you carry lunch from home?
                    </ion-label>
                    <ion-input   type="text" [(ngModel)]="principleLifestyle.lunch"></ion-input>
                </ion-item>
            </ion-row>
            </ion-col>
        </ion-row>

                <ion-row>
            <ion-col>
                <ion-item>
                     <ion-label text-wrap stacked color="primary">
                      Do you order food online? 
                    </ion-label>
                    <ion-select [(ngModel)]="challenges" >
                        <ion-option value="1"> Yes</ion-option>
                        <ion-option value="0"> No</ion-option>
                       
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="challenges == 1">
        
        <ion-col *ngFor="let reasone2 of reasone2s;let i = index"   >
            
            
                    <ion-item>
                       <ion-label text-wrap stacked color="primary" floating> Where do you order food online from?
                    </ion-label>
                    <ion-input   type="text" [(ngModel)]="principleLifestyle.food"></ion-input>
                    </ion-item>
                    
                    
                        <ion-item>
                    <ion-label text-wrap stacked color="primary" floating>
                       What can make you order for food while you are in the office?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.office" ></ion-input>
                </ion-item>

                    
                <ion-item>
                    <ion-label text-wrap stacked color="primary" floating>
                        What can make you order for food while you are at home?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.home" ></ion-input>
                </ion-item>
            
                <ion-item>
                    <ion-label text-wrap stacked color="primary" floating>
                        What can make you order for food while you are at home?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.home" ></ion-input>
                </ion-item>
           
                <ion-item>
                    <ion-label text-wrap stacked color="primary" floating>What challenge have you faced ordering food online?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.challenge" ></ion-input>
                </ion-item>
            


                
        </ion-col>


    </ion-row>
    
        

        </ion-card>
        </ion-card>


        
        
    
       <!--  <ion-card-header>
          variety missed
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        what are you missing now?
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="principleLifestyle.missed"  ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    
     <ion-card> -->
        <!-- <ion-card-header>
          packed lunch
        </ion-card-header> -->
        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        why don't you carry lunch from home?
                    </ion-label>
                    <ion-input   type="text" [(ngModel)]="principleLifestyle.lunch"></ion-input>
                </ion-item>
            </ion-col>


            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                       I’m more likely to buy lunch that is? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0">cheap</ion-option>
                        <ion-option value="1">beautiful/looks good</ion-option>
                        <ion-option value="2">feels home cooked</ion-option>

                    </ion-select>
                </ion-item>
            </ion-col>
<ion-col>
                <ion-item>
                     <ion-label text-wrap stacked color="primary">
                       Where do you think you will take lunch tomorrow? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0"> Carry food from home</ion-option>
                        <ion-option value="1"> go to a hotel</ion-option>
                        <ion-option value="2"> buy from someone who sells at the office</ion-option>
                        <ion-option value="3"> order online</ion-option>
                        <ion-option value="4"> other</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>


        </ion-row>
    </ion-card>
     <ion-card>
        <! <ion-card-header>
          At Office
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                       what can make you order for food while you are in the office?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.office" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
     <ion-card> --> 
        <!-- <ion-card-header>
          At Home
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        what can make you order for food while you are at home?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.home" ></ion-input>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        what can make you order for food while you are at home?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.home" ></ion-input>
                </ion-item>
            </ion-col>
<ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">what challenge have you faced ordering food online?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.challenge" ></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>
    </ion-card>
     <ion-card> -->
        <!-- <ion-card-header>
          Takeout food
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                         what time are you most likely to need takeout food?
                    </ion-label>
                     <ion-select [(ngModel)]="principleLifestyle.takeaway">
                        <ion-option value="Morning"> Morning(breakfast)</ion-option>
                        <ion-option value="Afternoon"> Afternoon(lunch time)</ion-option>
                        <ion-option value="Evening"> Evening(supper)</ion-option>

                    </ion-select>
                    <! <ion-input   type="text" [(ngModel)]="principleLifestyle.takeaway"></ion-input> -->
               <!--  </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
     <ion-card> --> 
       <!--  <ion-card-header>
        Work concentration
        </ion-card-header>
 -->
        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        have you ever been unable to concentrate at work because you skipped lunch?
                    </ion-label>
                     <ion-select [(ngModel)]="principleLifestyle.work">
                        <ion-option value="0"> Yes</ion-option>
                        <ion-option value="1"> No</ion-option>

                    </ion-select> -->
                    <!-- <ion-input   type="text" [(ngModel)]="principleLifestyle.work"></ion-input> -->
                <!-- </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
     <ion-card> -->
        <!-- <ion-card-header>
          online food
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                        where do you order food online from?
                    </ion-label>
                    <ion-input   type="text" [(ngModel)]="principleLifestyle.food"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
     <ion-card> -->
        <!-- <ion-card-header>
          lunch Choise
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">
                       I’m more likely to buy lunch that is? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0">cheap</ion-option>
                        <ion-option value="1">beautiful/looks good</ion-option>
                        <ion-option value="2">feels home cooked</ion-option>

                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card> -->
     <!-- <ion-card> -->
        <!-- <ion-card-header>
          food ordering challenges
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                     <ion-label text-wrap stacked color="primary">
                      Do you order food online? 
                    </ion-label>
                    <ion-select [(ngModel)]="challenges" >
                        <ion-option value="0"> Yes</ion-option>
                        <ion-option value="1"> No</ion-option>
                       
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card *ngIf="challenges == 0"> -->
        <!-- <ion-card-header>
            Chellenges
        </ion-card-header>
 -->
        <!-- <ion-grid >
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label text-wrap stacked color="primary">what challenge have you faced ordering food online?
                    </ion-label>
                    <ion-input  type="text" [(ngModel)]="principleLifestyle.challenge" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
            
        </ion-grid>
        
    </ion-card>
     <ion-card> -->
       <!--  <ion-card-header>
          lunch venue
        </ion-card-header> -->

        <!-- <ion-row>
            <ion-col>
                <ion-item>
                     <ion-label text-wrap stacked color="primary">
                       Where do you think you will take lunch tomorrow? 
                    </ion-label>
                    <ion-select >
                        <ion-option value="0"> Carry food from home</ion-option>
                        <ion-option value="1"> go to a hotel</ion-option>
                        <ion-option value="2"> buy from someone who sells at the office</ion-option>
                        <ion-option value="3"> order online</ion-option>
                        <ion-option value="4"> other</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card> -->
    
</ion-content>
<ion-footer>
     <button ion-button round color="secondary" (click)="nextTab()" right> next
                          &nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
            </button>
</ion-footer>
